body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color:  rgba(72, 10, 50);
    background-color: rgba(149, 191, 116);
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: rgba(252, 200, 115);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1,h2 {
            color: black;
}

.header {
    text-align: center;
}
.header h1 {
    margin: 10px 0;
}
.contact {
    margin: 10px 0;
    font-size: 14px;
}
.contact a {
    color:  black;
    text-decoration: underline;
}

a:hover {
    color: rgba(47, 75, 38)
}

a:visited {
    color: rgba(4, 42, 43)
}

.section {
    margin: 20px 0;
}
.section h2 {
    margin-bottom: 10px;
    border-bottom: 2px solid black;
    padding-bottom: 5px;
}
.item {
    margin-bottom: 15px;
}
.item h3 {
    margin: 0;
    font-size: 18px;
    color:  black;
}
.item p {
    margin: 5px 0;
    font-size: 14px;
}
.skills ul {
    list-style: none;
    padding: 0;
}
.skills ul li {
    display: inline-block;
    background: black       ;
    color: #fff;
    padding: 5px 10px;
    margin: 5px 5px 5px 0;
    border-radius: 4px;
}
